<% if @new_message.errors.present? %>
  <% @new_message.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
<% end %>

<%= form_for ([current_user, @new_message]) do |f| %>
<p>
  <%= f.label "To:" %><br>
  <%= f.text_field :receiver, text_holder: "School Name" %>
<p>
  <%= f.label "Subject" %><br>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :message %><br>
  <%= f.text_area :body %>
</p>
<p>
  <%= f.submit "Send Message", class: "btn btn-dark" %>
</p>
<% end %>