<div class="container">
	<div class="row text-center">

		<% if @user.photo? %>
				<%= image_tag @user.photo.url(:medium) %>
			<% else %>
				<i class="fa fa-user fa-2x"></i>
			<% end %>

		<% if @user.category == "volunteer" %>
	</div>
	<div class="row text-center">
			<h1><%= @user.name %> | <%= @user.location %></h1>
			<hr>
	</div>
			<h2>Class Proposals</h2>
				<% @proposals.each do |proposal| %>
					<%= render 'proposals/proposal_show', proposal: proposal %>
				<% end %>
		<% end %>

		<% if @user.category == "school" %>
			<h1> <%= @user.name %> | <%= @user.location %></h1>
			</div>
			<hr>
			<h2>Schools added by this user:</h2>
				<% @schools.each do |school| %>
					<div class="panel panel-default">
						<div class="panel body">
							<div class="container">
								<h4 style = "display: inline-block"><%= school.school_name %></h4>
								<span style="float: right">
									<% if current_user.category == "volunteer" %>
									<%= link_to 'I Taught At this School', school_link_form_path(school), class: "btn btn-dark" %> <% end %><%= link_to 'View', school_path(school), class: "btn btn-dark" %></span>
								</h4>
								<p>Location: <%= school.location %></p>
								<h5><strong>School Needs: <%= school.needs %></strong></h5>
								<p>Students' Age: <%= school.students_age %></p>
								<% if current_user == school.user %>
									<%= link_to 'Edit', edit_school_path(school), class: "btn btn-default" %>
									<%= link_to 'Delete', school_path(school), method: :delete, data: {confirm: 'Are you sure you want to delete this school?'}, class: "btn btn-default" %>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
		<% end %>

		<% if current_user == @user %>
			<h1>Messages</h1>
			<span style="float: right; margin-top: 10px;"><%= link_to 'Send a New Message', new_user_message_path(current_user), class: "btn btn-default" %></span>
			<h2>Inbox <i class="fa fa-inbox"></i></h2>
			<% if @messages_received.empty? %>
				<h4>You have not received any messages yet.</h4>
			<% else %>
				<% @messages_received.each do |message| %>
					<%= render 'messages/inbox', message: message, out: false %>
				<% end %>
			<% end %>

			<h2>Messages Sent</h2>
			<% if @messages_sent.empty? %>
				<h4>You have not sent any messages yet.</h4>
			<% else %>
				<% @messages_sent.each do |message| %>
					<%= render 'messages/inbox', message: message, out: true %>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>

		






