<div class="container">
	<div class="row">

		<% if @user.category == "volunteer" %>
			<h1><%= @user.name %> | <%= @user.location %></h1>
			<hr>
			<h2>Class Proposals</h2>
				<% @proposals.each do |proposal| %>
					<%= render 'proposals/proposal_show', proposal: proposal %>
				<% end %>
		<% end %>

		<% if @user.category == "school" %>
			<h1><%= @user.name %> | <%= @user.location %></h1>
			<hr>
			<h2>Schools added by this user:</h2>
				<% @schools.each do |school| %>
					<%= render 'schools/school_show', school: school %>
				<% end %>
		<% end %>

		<% if current_user == @user %>
			<h1>Messages</h1>

			<h2>Inbox</h2>
			<% @messages_received.each do |message| %>
				<%= render 'messages/inbox', message: message, out: false %>
			<% end %>

			<h2>Messages Sent</h2>
			<% @messages_sent.each do |message| %>
				<%= render 'messages/inbox', message: message, out: true %>
			<% end %>
		<% end %>
	</div>
</div>

		






