<header id="top" class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-12" style="height: 20px">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="text-vertical-center">
					<img src="http://i.imgur.com/vQLPLWf.png?1">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-md-4">
				<h3 style="font-size: 24px; text-align: left; font-family: 'Montserrat', sans-serif;">Education is the most powerful weapon which you can use to change the world. <br> -Nelson Mandela</h3>
			</div>
			<div class="col-sm-4 col-md-3 col-md-offset-5">
				<%= link_to 'Log In', new_user_session_path, class: "btn btn-dark btn-xlarge" %><br>
				<%= link_to 'Getting Started', new_user_registration_path, class: "btn btn-dark btn-xlarge" %>
			</div>
		</div>
	</div>
</header>

<div class="container">
		<div class="row", style="text-align: center">
			<div class="col-sm-4 col-md-3">
					<h2 style="text-align: center">
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-book fa-stack-1x fa-inverse"></i>
						  </span>
						 <br>Teachers<br></h2><%= link_to 'Teach a Class', new_user_registration_path, class: "btn btn-danger btn-lg" %><br>
						 	<h3 style="text-align: left;">Share your abilities with schools in rural areas.</h3>
						 	<h3 style="text-align: left;">Gain experience teaching new subjects.</h3>
			</div>

			<div class="col-sm-4 col-md-5">
				<h2 style="text-align: center">
					<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
					</span>
				<br>Computer Enthusiasts<br></h2><%= link_to 'Share your Love', new_user_registration_path, class: "btn btn-danger btn-lg" %><br>
						 	<h3 style="text-align: left;">Share your knowledge of technology with underpriviledged students.</h3>
						 	<h3 style="text-align: left;">Serve and empower your community.</h3>
			</div>
			<div class="col-sm-4 col-md-4">
					<h2 style="text-align: center">
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-child fa-stack-1x fa-inverse"></i>
						  </span>
					<br>Schools in need<br></h2><%= link_to 'Request a Volunteer', new_user_registration_path, class: "btn btn-danger btn-lg" %><br>
						 	<h3 style="text-align: left;">Ask for a volunteer to give a short class or course in any subject</h3>
						 	<h3 style="text-align: left;">Offer your students classes in real-world knowledge.</h3>
			</div>
		</div>
</div>

<div class = "container">
	<div class = "row">
			<%= image_tag "info_educ.png", size: "1000x1000" %>
	</div>
</div>
