<header id="top" class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-12" style="height: 20px">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="text-vertical-center">
					<img src="http://i.imgur.com/vQLPLWf.png?1">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-md-4">
				<h3 style="font-size: 24px; text-align: left; font-family: 'Montserrat', sans-serif;">Education is the most powerful weapon which you can use to change the world. <br> -Nelson Mandela</h3>
			</div>
			<div class="col-sm-4 col-md-3 col-md-offset-5">
				<%= link_to 'Log In', new_user_session_path, class: "btn btn-dark btn-xlarge" %><br>
				<a class="btn btn-dark btn-xlarge" href="#getting-started"> Getting Started</a>
			</div>
		</div>
	</div>
</header>




<div id="getting-started" class="services">
	<div class="container">
		<div class="row text-center">
			<div class="col-sm-4 col-md-4">
					<h2 style="text-align: center">
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-book fa-stack-1x fa-inverse"></i>
						  </span>
						 <br>Teachers<br></h2><%= link_to 'Teach a Class', new_user_registration_path, class: "btn btn-danger btn-lg" %><br>
						 	<h3>Share your abilities with schools in rural areas.</h3>
						 	<h3>Gain experience teaching new subjects.</h3>
			</div>

			<div class="col-sm-4 col-md-4">
				<h2 style="text-align: center">
					<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
					</span>
				<br>Computer Enthusiasts<br></h2><%= link_to 'Share your Love', new_user_registration_path, class: "btn btn-danger btn-lg" %><br>
						 	<h3>Share your knowledge of technology with underpriviledged students.</h3>
						 	<h3>Serve and empower your community.</h3>
			</div>
			<div class="col-sm-4 col-md-4">
					<h2 style="text-align: center">
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-child fa-stack-1x fa-inverse"></i>
						  </span>
					<br>Schools in need<br></h2><%= link_to 'Request a Volunteer', new_user_registration_path, class: "btn btn-danger btn-lg" %><br>
						 	<h3>Ask for a volunteer to give a short class or course in any subject</h3>
						 	<h3>Offer your students classes in real-world knowledge.</h3>
		</div>
			</div>
		</div>
</div>





<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="http://i.imgur.com/oYtJ5dz.jpg?1" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
            	<div id="words">
              <h1 style="font-size: 72px">Suggest</h1>
              <p style="font-size: 42px">a class that you would like to teach.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="http://i.imgur.com/jPIX4g9.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <strong><h1 style="font-size: 82px; color:black;">Browse</h1></strong>
              <p style="font-size: 42px; color:black">schools in need near you.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="http://i.imgur.com/aAvffYd.jpg?1" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1 style="font-size: 72px">Message</h1>
              <p style="font-size: 42px">A school through our inbuilt inbox.</p>
            </div>
          </div>
        </div>
      </div>
	      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style="padding: 200px">
	        <span class="fa fa-arrow-left fa-2x"></span>
	        <span class="sr-only">Previous</span>
	      </a>
	      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="padding: 200px">
	        <span class="fa fa-arrow-right fa-2x"></span>
	        <span class="sr-only">Next</span>
	      </a>
    </div><!-- /.carousel -->





<div id="about" class = "about">
	<div class = "container">
		<div class="row text-center">
			<div class="col-md-12">
			<h1>Why VolunTeach?</h1><br><br>
			<%= image_tag "info_educ.png", size: "1000x1000", style: "opacity: 0.7;" %>
			<div style="margin-top: 40px">
			<a href= "http://www.teach.com" class="btn btn-danger btn-xlarge">Learn More about Teaching!</a>
			<%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-success btn-xlarge" %><br>
			</div>
			</div>
		</div>
	</div>
</div>
