<% if @proposal.errors.present? %>
	<% @proposal.errors.full_messages.each do |msg| %>
		<p><%= msg %></p>
	<% end %>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<%= simple_form_for(@proposal, html: { class: 'form-horizontal' }) do |form| %>
			<p>
				<%= form.input :topic, placeholder: "Topic" %>
			</p>
			<p>
				<%= form.input :duration, label: "Class Duration", placeholder: "Class Duration" %>
			</p>
			<p>
				<%= form.input :target_age, placeholder: "Target age group"%>
			</p>
			<p>
				<%= form.input :language, label: "Language(s)" %>
			</p>
			<p>
				<%= form.input :description, as: :text %>
			</p>
			<p>
				<%= form.submit "Create Proposal", class: "btn btn-dark btn-lg" %>
			</p>
			<% end %>
		</div>
	</div>
</div>