<% @proposals.each do |proposal| %>
	<p>Teacher Name: <%= proposal.teacher_name %></p>
	<p>Location: <%= proposal.teacher_location %></p>
	<p>Topic: <%= proposal.topic %></p>
	<p>Class Duration: <%= proposal.duration %></p>
	<p>Target Age: <%= proposal.target_age %></p>
	<p>Languages: <%= proposal.language %></p>
	<p>Description: <%= proposal.description %></p>
<% end %>