
<% if @school.errors.present? %>
	<% @school.errors.full_messages.each do |msg| %>
		<p><%= msg %></p>
	<% end %>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-md-6">

			<%= simple_form_for @school do |f| %>
			<p>
				<%= f.input :school_name, placeholder: "The name of your institution" %>
			</p>
			<p>
				<%= f.input :location, label: "Address", placeholder: "Address" %>
			</p>
			<p>
				<%= f.input :needs, placeholder: "Teacher or educational needs" %>
			</p>
			<p>
				<%= f.input :students_age, label: "Students' Age", placeholder: "Students' age range" %>
			</p>

			<p>
				<%= f.submit "Create School", class: "btn btn-dark btn-lg" %>
			</p>
			<% end %>
					<%= link_to 'Back', schools_path %>
		</div>
	</div>
</div>