<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h2><%= @school.school_name %></h2>
			<h3>Needs: <%= @school.needs %></h3>
			<p>Students' Age: <%= @school.students_age %></p>
		</div>
		<div class="col-md-4" style="padding-top: 10px">
			
			<h3><span class="pull-right"><%= @school.location %></span></h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<% if current_user == @school.user %>
				<%= link_to 'Edit', edit_school_path(@school), class: "btn btn-dark" %>
				<%= link_to 'Delete', @school, :method => :delete, :confirm => "Are you sure?", class: "btn btn-dark" %>
			<% end %>
		</div>
	</div>

		<h2>Classes previously taught at this school:</h2>
		<% if @proposals == [] %>
			<h3>No classes have been taught at this school yet.</h3>
		<% else %>
			<% @proposals.each do |proposal| %>
			<%= render 'proposals/proposal_show', proposal: proposal %>
			<% end %>
		<% end %><hr>
	<div class="row">
		<div class="col-md-12">
			<i class="fa fa-envelope-o fa-3x"></i><br>
			<%= form_for ([current_user, @message]) do |f| %>

					<p>
					  <%= f.label "To" %><br>
					  <%= f.text_field :receiver_id, :value => @receiver %></p>
					<p>
					  <%= f.label "Subject" %><br>
					  <%= f.text_field :title %>
					</p>
					<p>
					  <%= f.label :message %><br>
					  <%= f.text_area :body %>
					</p>
					<p>
					  <%= f.submit "Send Message", class: "btn btn-dark" %>
					</p>
				<% end %>
			<h4><em> Send a message to request to teach at the school</em></h4>
		

				<p><%= link_to 'Back', schools_path, class: "btn btn-dark" %></p>
		</div>
	</div>
</div>
