<div class="container">
	<h3><%= @school.school_name %></h3>
	<p>Location: <%= @school.location %></p>
	<p>Needs: <%= @school.needs %></p>
	<p>Students' Age: <%= @school.students_age %></p>
	<p><%= link_to 'Back', schools_path, class: "btn btn-dark" %></p>

	<% if current_user == @school.user %>
	<p>
		<%= link_to 'Edit', edit_school_path(@school), class: "btn btn-dark" %>
		<%= link_to 'Delete', @school, :method => :delete, :confirm => "Are you sure?", class: "btn btn-dark" %>
	</p>
	<% end %>
</div>
