<!DOCTYPE html>
<html>
<head>
  <title>Volunteach</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="http://ironsummitmedia.github.io/startbootstrap-stylish-portfolio/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>

<%= render 'layouts/alerts' %>

<%= render 'layouts/nav' %>

<%= yield %>

</body>
</html>
